<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path]]%>

<h1>Editing Criterium</h1>

<%= render 'form', criterium: @criterium %>

<%= link_to 'Show', @criterium %> |
<%= link_to 'Back', criteria_path %>
