<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path], ["Criterios", criteria_path]]%>

<h1>Nuevo criterio</h1>

<%= render 'form', criterium: @criterium, locals: { submit_string: 'Crear'} %>

<%= link_to 'Volver', criteria_path %>
