<% provide(:title, "Menu") %>

<h1>Menu </h1>
<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li>
      <a href="/companies" class="">

        <i class="fa fa-address-book fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Empresas</span></h4>
      </a>
    </li>
    <li>
      <a href="/references_tables" class="">

        <i class="fa fa-book fa-5x icon-purple" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-purple">Tablas de Referencia</span></h4>
      </a>
    </li>
    <li>
      <a href="/settings">
        <i class="fa fa-cogs fa-5x icon-gray" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-gray">Configuración</span></h4>
      </a>
    </li>
    
    <li>
      <a href="/invoices">
        <i class="fa fa-file-text-o fa-5x icon-green" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-green">Reportes</span></h4>
      </a>
    </li>
  </ul>
</div>
