<% provide(:title, "References tables") %>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>
<h1>Tablas de referencia </h1>
<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li>
      <a href="/degrees" class="">

        <i class="fa fa-address-card fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Grados</span></h4>
      </a>
    </li>

    <li>
      <a href="/criteria" class="">

        <i class="fa fa-cubes fa-5x icon-green" ></i>
        <h4><span class="glyphicon-class icon-green">Criterios</span></h4>
      </a>
    </li>

    <li>
      <a href="/position_types" class="">

        <i class="fa fa-cubes fa-5x icon-green" ></i>
        <h4><span class="glyphicon-class icon-green">Tipo de posicion</span></h4>
      </a>
    </li>
  </ul>


      <li>
        <a href="/roles" class="">

          <i class="fa fa-cubes fa-5x icon-green" ></i>
          <h4><span class="glyphicon-class icon-green">Roles</span></h4>
        </a>
      </li>


</div>
