<% provide(:title, "Settings") %>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>
<h1>Configuraciones </h1>
<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li>
      <a href="/users" class="">

        <i class="fa fa-address-card fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Usuarios</span></h4>
      </a>
    </li>
    <% if current_user.is_admin? %>
    <li>
      <a href="/references_tables" class="">

        <i class="fa fa-book fa-5x icon-purple" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-purple">Tablas de Referencia</span></h4>
      </a>
    </li>
  </ul>
  <%end %>

</div>
