<% provide(:title, "Settings") %>
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>
<h1>Configuraciones </h1>
<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li>
      <a href="/users" class="">

        <i class="fa fa-address-card fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Usuarios</span></h4>
      </a>
    </li>
  </ul>


</div>
