<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @criteria_type.name %>
</p>

<%= link_to 'Editar', edit_criteria_type_path(@criteria_type) %> |
<%= link_to 'Vovler', criteria_types_path %>
