<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ["Configuración", settings_path], ["Usuarios", users_path]]%>


<h1>Editing User</h1>

<%= render 'form', user: @user, locals: { submit_string: 'Editar'} %>

<%= link_to 'Ver', @user %> |
<%= link_to 'Volver', users_path %>
