

<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Companies',companies_path],[@job_title.area.company.name,company_path(@job_title.area.company)], ['Areas', company_areas_path(@job_title.area.company)], [@job_title.area.name, area_path(@job_title.area)]]%>
<h1>Editando cargo</h1>

<%= render 'form', job_title: @job_title, locals: { submit_string: 'Editar'} %>

<%= link_to 'Ver', @job_title %> |
<%= link_to 'Volver', area_path(@job_title.area.id) %>
