
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path],
 ['Companies',companies_path],[@company.name,company_path(@company)],
  ['Areas', company_areas_path(@company)],
   [@area.name, area_path(@area)]]%>
<h1>Nuevo cargo</h1>

<%= render 'form', job_title: @job_title, locals: { submit_string: 'Crear'} %>

<%= link_to 'Volver', area_path(params[:area_id]) %>
