
<%= render 'layouts/breadcrumb', titles: get_breadcrumb_for_job_title(@job_title)%>
<h1>Nuevo cargo</h1>

<%= render 'form', job_title: @job_title, locals: { submit_string: 'Crear'} %>

<%= link_to 'Volver', get_path_for_return_job_title(@job_title) %>
