<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ["Configuración", settings_path], ['Tablas de referencia', references_tables_path], ["Grados", degrees_path]]%>

<h1>Editando Grado</h1>

<%= render 'form', degree: @degree, locals: { submit_string: 'Editar'} %>

<%= link_to 'Ver', @degree %> |
<%= link_to 'Volver', degrees_path %>
