
<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ["Configuración", settings_path], ['Tablas de referencia', references_tables_path], ["Grados", degrees_path]]%>
<h1>Nuevo grado</h1>

<%= render 'form', degree: @degree, locals: { submit_string: 'Crear'} %>

<%= link_to 'Volver', degrees_path %>
