<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Tablas de referencia', references_tables_path]]%>


<h1>Editing Position Type</h1>

<%= render 'form', position_type: @position_type %>

<%= link_to 'Show', @position_type %> |
<%= link_to 'Back', position_types_path %>
