<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>

<h1>Editando Grupo Empresarial</h1>

<%= render 'form', company: @company, locals: { submit_string: 'Editar'} %>

<%= link_to 'Ver', @company %> |
<%= link_to 'Volver', companies_path %>
