<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path]]%>

<h1>Nuevo Grupo Empresarial</h1>

<%= render 'form', company: @company, locals: { submit_string: 'Crear'} %>

<%= link_to 'Volver', companies_path %>
