<%= render 'layouts/breadcrumb', titles: [['Menu',menu_path], ['Empresas',companies_path],[@company.name,company_path(@company)]]%>
<div class="bs-glyphicons">
  <ul class="bs-glyphicons-list">
    <li>
      <a href="/companies/<%= @company.id%>/report_matrix_simple" class="">

        <i class="fa fa-briefcase fa-5x icon-gray" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-gray">Mapa General</span></h4>
      </a>
    </li>

    <li>
      <a href="/companies/<%= @company.id%>/report_matrix_complex" class="">

        <i class="fa fa-briefcase fa-5x icon-black" aria-hidden="true"></i>
        <h4><span class="glyphicon-class icon-black">Mapa Detallado</span></h4>
      </a>
    </li>
  </ul>
</div>
